<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<oneo>
			<general>
				<oneo_url>https://shop.katalys.com/graphql</oneo_url>
				<key_id/>
				<shared_secret/>
			</general>
		</oneo>
		<katalys_ad>
			<configs>
				<debug>0</debug>
				<usecron>0</usecron>
				<trigger_all_status>1</trigger_all_status>
			</configs>
		</katalys_ad>
	</default>
</config>
