<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<oneo>
			<general>
				<oneo_url>https://shop.katalys.com/graphql</oneo_url>
				<key_id/>
				<shared_secret/>
			</general>
		</oneo>
	</default>
</config>
