<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="katalys_tab" translate="label" sortOrder="999">
			<label>Katalys</label>
		</tab>
		<section id="oneo" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Shop</label>
			<tab>katalys_tab</tab>
			<resource>Katalys_Shop::config_oneo_shop</resource>
			<group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>General</label>
                <field id="version" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Version</label>
                    <frontend_model>Katalys\Shop\Block\Adminhtml\ModuleVersion</frontend_model>
                </field>
				<field id="oneo_url" type="text" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Katalys Url</label>
					<comment/>
				</field>
				<field id="key_id" type="text" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Key Id</label>
					<comment/>
				</field>
				<field id="shared_secret" type="obscure" sortOrder="40" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Shared Secret</label>
					<comment/>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<config_path>oneo/general/shared_secret</config_path>
				</field>
			</group>
		</section>
        <section id="katalys_ad" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Advertiser Integration</label>
            <tab>katalys_tab</tab>
            <resource>Katalys_Shop::config_oneo_ad</resource>
            <group id="configs" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="version" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Version</label>
                    <frontend_model>Katalys\Shop\Block\Adminhtml\ModuleVersion</frontend_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Debug</label>
                    <comment>If Yes, Magento will log all requests.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="includejs" translate="label" type="select" sortOrder="20" showInDefault="0" showInWebsite="1" showInStore="1">
                    <label>Enable JavaScript</label>
                    <comment>Include the JavaScript on this website (required).</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="siteid" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Site ID</label>
                    <comment>If present, this will override the server's hostname</comment>
                </field>
                <field id="usecron" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use Cron</label>
                    <comment>If Yes, will use cron system for order reporting</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="trigger_all_status" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Trigger on All Order Status</label>
                    <comment>If yes, Magento will send all the statuses to Katalys via Observer.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="trigger" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Trigger on Order Status</label>
                    <comment>When to queue/send the data about the order</comment>
                    <source_model>Katalys\Shop\Model\Config\Source\TriggerOptions::toOptionArray</source_model>
                    <depends>
                        <field id="trigger_all_status">0</field>
                    </depends>
                </field>
            </group>
        </section>
	</system>
</config>
